<li class="navPages-item">	
	<a class="navPages-action" href="javascript:void(0)">Shop</a>
	<div class="megamenu_block menu_shop">
		<div class="container">
			<div class="mm_inner">
				<div class="mm_left">
					<ul class="mm_cat_list">
					    <li>
                            <a href="/collections/">Collections</a>
                            <ul class="mm_sub_cat_list">
                              <li>
                                <a href="/best-sellers/">Best Sellers</a>
                              </li>
                              <li>
                                <a href="/on-sale/">On Sale</a>
                              </li>
                              <li>
                                <a href="/gift-ideas/">Gift ideas</a>
                              </li>
                              <li>
                                <a href="/whats-new/">What's New</a>
                              </li>
                              <li>
                                <a href="/seasonal-favorites/">Seasonal Favorites</a>
                              </li>
                              <li>
                                <a href="/popular-w-men/">Popular W/Men</a>
                              </li>
                              <li>
                                <a href="/popular-w-women/">Popular W/ Women</a>
                              </li>
                              <li>
                                <a href="/clearance/">Clearance</a>
                              </li>
                              <li>
                                <a href="/samples/">Sampler Sets</a>
                              </li>
                            </ul>
                        </li>
						<li>
							<a href="/skin-bodycare/">Skin & Bodycare</a>
								<ul class="mm_sub_cat_list">
									<li>
										<a href="/100-essential-oils/">100% Essential Oils</a> 
									</li>
									<li>
										<a href="/bath-bombs-fizzys/">Bath Bombs / Fizzies</a> 
									</li>
									<li>
										<a href="/bath-massage-oil/">Bath & Massage Oil</a> 
									</li>
									<li>
										<a href="/body-butters/">Body Butters</a> 
									</li>
									<li>
										<a href="/facial-mist-toners/">Facial Mist / Toners</a> 
									</li>
									<li>
										<a href="/facial-serums/">Facial Serums</a> 
									</li>
									<li>
										<a href="/artisan-handmade-soaps/">Hand Made Soaps</a> 
									</li>
									<li>
										<a href="/mens-facial-care/">Men’s Facial Care </a> 
									</li>
									<li>
										<a href="/skin-oils/">Premium Skin Oils</a> 
									</li>
									<li>
										<a href="/shower-mist/">Shower Mist</a> 
									</li>
									{{!--
									<li>
										<a href="/arabella-red/">Arabella Red</a>   
									</li>	
									<li>
            						    <a href="/brands/Bath-Sherbet.html">Bath Sherbet</a> 
            						</li>
									<li>
										<a href="/classic-man/">Classic Man</a>
									</li>
									<li>	
										<a href="/esna-organics/">Esna Organics</a>
									</li>
									<li>	
										<a href="/liora-skin/">Liora Skin</a>
									</li>
									<li>	
										<a href="/midwest-soap-company/">Midwest Soap Company</a>
									</li>
									<li>	
										<a href="/midwest-sea-salt-company/">Midwest Sea Salt Company</a>
									</li>
									<li>	
										<a href="/prime-skin-works/">Prime Skin Works</a>
									</li>
									<li>	
										<a href="/skin-love/">Skin Love</a>
									</li>
									<li>	
										<a href="/salt-mine-soaks/">Salt Mine Soaks</a>
									</li>
									<li>	
										<a href="/skin-sherbet/">Skin Sherbet</a>
									</li>
									<li>	
										<a href="/shoji-scrubs/">Shoji Scrubs</a> 
									</li>
									<li>	
										<a href="/skin-spa-skincare/">skin spa skincare</a>
									</li>
									<li>	
										<a href="/someone/">someONE</a>
									</li>
									<li>	
										<a href="/unmask/">Unmask</a> 
									</li> --}}
								</ul>
						</li>
							<li>
							<a href="/premium-fragrance-oils/">Fragrance Oils</a>
								<ul class="mm_sub_cat_list">
									<li>
    									<a href="/spring-summer-fragrances/">Spring & Summer Fragrances </a>
    								</li>
    								<li>
    									<a href="/fall-winter-fragrances/">Fall & Winter Fragrances</a>
    								</li>
    								<li>
    									<a href="/vanilla-fragrances/">Vanilla Fragrances</a>
    								</li>
    								<li>
    									<a href="/warm-spicy-fragrances/">Warm & Spicy Fragrances</a>
    								</li>
    								<li>
    									<a href="/herbal-fragrances/">Herbal Fragrances</a>
    								</li>
    								<li>
    									<a href="/floral-fragrances/">Floral Fragrances</a>
    								</li>
    								<li>
    									<a href="/fruity-fragrances/">Fruity Fragrances</a>
    								</li>
    								<li>
    									<a href="/fun-fragrances/">Fun Fragrances</a>
    								<li>
    									<a href="/bulk-fragrance-oils/">Bulk Fragrance Oils</a>
    								</li>
								</ul>
						</li>
						<li>
							<a href="/bath-salt-soaks/">Bath Salt Soaks</a> 
								<ul class="mm_sub_cat_list">
									<li>	
										<a href="/dead-sea-bath-salt-soaks/">Dead Sea Bath Salt Soaks</a>
									</li>
									<li>	
										<a href="/himalayan-bath-salt-soaks/">Himalayan Salt Soak</a>
									</li>
									<li>	
										<a href="/mens-bath-salt-soaks/">Men’s Bath Salt Soaks</a>
									</li>
									<li>	
										<a href="/botanical-bath-salt-soaks/">Botanical Bath Salt Soaks</a>
									</li>
									<li>	
										<a href="/mediterranean-sea-salt-soaks/">Mediterranean Sea Salt Soaks </a>
									</li>
									<li>	
										<a href="/epsom-salt-soaks/">Epsom Salt Soaks </a>
									</li>
									<li>	
										<a href="/active-recovery-soaks/">Active Recovery Soaks</a>
									</li>
									<li>	
										<a href="/foaming-bath-salt-soaks/">Foaming Bath Salt Soaks </a>
									</li>
									<li>	
										<a href="/salt-mine-bath-soaks/">Salt Mine Soaks </a>
									</li>

									{{!-- <li>
										<a href="/categories/Bath-Salt/Natural-Bath-Salts/">Natural Bath Salts</a>
									</li>
									<li>
										<a href="/categories/Bath-Salt/Custom-Bath-Salts/">Custom Bath Salts</a>
									</li>
									
									<li>	
										<a href="/categories/Bath-Salt/Epsom-Soaks/">Epsom Soaks</a>
									</li>
									
									<li>	
										<a href="/foot-soaks/">Foot Soaks</a>
									</li>
								    <li>	
										<a href="/bath-salt-scoop/">Bath Salt Scoop</a> 
									</li> --}}
								</ul>
						</li>
						<li>
							<a href="/scrubs-and-mud/">Scrubs and Mask</a>
								<ul class="mm_sub_cat_list">
									<li>
										<a href="/coffee-scrubs/">Coffee Scrubs</a>
									</li>
									<li>
										<a href="/brown-sugar-scrubs/">Brown Sugar Scrubs</a>
									</li>
									<li>
										<a href="/dead-sea-salt-scrubs/">Dead Sea Salt Scrubs</a>
									</li>
									<li>
										<a href="/himalayan-salt-scrubs/">Himalayan Scrubs</a>
									</li>
									<li>
										<a href="/superfood-scrubs/">Superfood Scrubs</a>
									</li>
									<li>
										<a href="/botanical-scrubs/">Botanical Scrubs </a>
									</li>
									<li>	
										<a href="/pacific-sea-salt-scrubs/">Pacific Sea Salt Scrubs</a>
									</li>
									<li>	
										<a href="/active-recovery-scrubs/">Active Recovery Scrubs</a> 
									</li>
									<li>	
										<a href="/dead-sea-mud/">Body & Facial Mask</a> 
									</li>
								</ul>
						</li>																

						{{!--
						<li>
							<a href="/bath-body-bases/">bath body bases</a>
								<ul class="mm_sub_cat_list">
									<li>
										<a href="/bath-body-bases/melt-pour-soaps/">melt pour soaps</a>
									</li>
									<li>
										<a href="/bath-body-bases/multibase-cream-base/">multibase cream base</a>
									</li>									
								</ul>
						</li>
						<li>
							<a href="/fixed-oils-additives/">fixed oils additives/</a>
								<ul class="mm_sub_cat_list">
									<li>
										<a href="/fixed-oils-additives/almond-oil/">Almond-oil</a>
									</li>									
								</ul>
						</li>	

						<li>
							<a href="/holiday-fragrances/">Holiday Fragrances</a>
						</li>
						<li>
							<a href="/private-label-options/">Private label options</a>
						</li>
						<li>
							<a href="/year-end-sale/">year end sale</a>
						</li>	
						
						<li style="clear: left;">
							<a href="/mens-facial-care/">Mens Facial Care</a>
						</li>						
						<li>
							<a href="/facial-mist-toners/">Facial Mist / Toners</a>
						</li>
						<li>
							<a href="/bath-bombs-fizzys/">Bath Bombs / Fizzys</a>
						</li>
						<li>
							<a href="/bath-massage-oil/">Bath & Massage Oil</a>
						</li>	
						<li>
							<a href="/facial-care1/">facial-care1</a>
						</li>
						<li>
                        	<a href="/body-butters/">Body Butters</a>
                        </li>
						<li>
                        	<a href="/hand-sanitizers/">Hand Sanitizers</a>
                        </li>
                        <li>
							<a href="/scented-incense/">Scented Incense</a>
								<ul class="mm_sub_cat_list">
									<li>
										<a href="/a-e-1/">A-E</a>
									</li>
									<li>
										<a href="/f-l/">F-L</a>
									</li>
									<li>	
										<a href="/m-r/">M-R</a>
									</li>
									<li>	
										<a href="/s-z/">S-Z</a> 
									</li>									
								</ul>
						</li>
                        <li>
							<a href="/artisan-handmade-soaps/">Artisan Handmade Soaps</a>
						</li>
                        --}}
					</ul>
				</div>
			    <div class="mm_right">	    
					<div class="mm_img">
						<div class="mm_img_grid">
							<div class="mm_img1">
								<a href="/bath-salt-soaks-1/"><img src="/content/MegaMenu - Explore Our Bath Salts.jpg" alt=""></a>
							</div>
							<div class="img_lable">
								<p><a href="/bath-salt-soaks-1/">Explore our bath salt soaks</a></p>
							</div>
						</div>
						{{!-- <div class="mm_img_grid">
							<div class="mm_img2">
								<a href="/coffee-scrubs/"><img src="/content/MegaMenu - Explore Our Coffee Scrubs.jpg" alt=""></a>
							</div>
							<div class="img_lable">
								<p><a href="/body-butters/">Explore our Coffee Scrubs</a></p>
							</div>
						</div> --}}
					</div>					
				</div>
			</div>
		</div>
	</div>
</li>
<li class="navPages-item navPagse-item--custom">	
	<a class="navPages-action" href="/private-label-2/">Private label</a>
	<div style="display: none;" class="megamenu_block menu_private">
		<div class="container">
			<div class="mm_inner">
				<div class="all_link">
					<a href="/private-label/">Private label</a>
				</div>
				<div class="mm_left">
					<ul class="mm_cat_list">
						<li>
							<a href="/getting-started/">Getting started</a>
						</li>
						<li>
							<a href="/about-our-products/">About our products</a>
						</li>
						<li>
							<a href="/packaging-and-labeling/">Packaging and labeling</a>
						</li>
						<li>
							<a href="/additional-services/">Additional services</a>
							<ul class="mm_sub_cat_list">
								<li>
									<a href="/private-label-ready-program/">Private Label Ready Program</a>
								</li>									
							</ul>
						</li>
						<li>
							<a href="/private-label-frequently-asked-questions/">Frequently asked questions</a>
						</li>
						<li>
							<a href="/private-label-request-custom-quote/">Download price list</a>
						</li>
					</ul>
					 <div class="mm_button">
						<a class="button" href="/private-label-request-custom-quote/">Request custom quote</a>
					</div> 
				</div>
				<div class="mm_right">	
					<div class="mm_img">
						<div class="mm_img_grid">
							<div class="mm_img1">
								<a href="/getting-started/"><img src="/content/Private Label Mega Menu - Getting Started.jpg" alt=""></a>
							</div>
							<div class="img_lable">
								<p><a href="/getting-started/">Getting started</a></p>
							</div>
						</div>
						<div class="mm_img_grid">
							<div class="mm_img2">
								<a href="/packaging-and-labeling/"><img src="/content/Private Label Mega Menu - Packaging and Labeling.jpg" alt=""></a>
							</div>
							<div class="img_lable">
								<p><a href="/packaging-and-labeling/">Packaging and labelling</a></p>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</li>
<li class="navPages-item navPagse-item--custom">	
	<a class="navPages-action" href="/bulk-wholesale-2/">Bulk & Wholesale</a>
	<div style="display: none;" class="megamenu_block menu_bulk">
		<div class="container">
			<div class="mm_inner">
				<div class="all_link">
					<a href="/bulk-wholesale/">Bulk & Wholesale</a>
				</div>
				<div class="mm_left">
					<ul class="mm_cat_list">
						<li>
							<a href="/bulk-wholesale-getting-started/">Getting started</a>
						</li>
						<li>
							<a href="/bulk-wholesale-about-our-products/">About our products</a> 
						</li>
						<li>
							<a href="/bulk-wholesale-additional-services/">Additional services</a>
						</li>
						
						<li>
							<a href="/bulk-and-wholesale-frequently-asked-questions/">Frequently asked questions</a>
						</li>
						<li>
							<a href="/wholesale-products-through-faire/">Wholesale Products W/ Faire</a>
							<ul class="mm_sub_cat_list">
							    <li>
        							<a href="/bulk-and-wholesale-request-custom-quote/">Download price list</a>
        						</li>
							</ul>
						</li>
					</ul>
				<div class="mm_button">
						<a class="button" href="/bulk-and-wholesale-request-custom-quote/">Request Custom quote</a>
					</div>
				</div>
				<div class="mm_right">	
					<div class="mm_img">
						<div class="mm_img_grid">
							<div class="mm_img1">
								<a href="/bulk-wholesale-getting-started/"><img src="/content/Bulk Wholesale Mega Menu - Getting Started.jpg" alt=""></a>
							</div>
							<div class="img_lable">
								<p><a href="/bulk-wholesale-getting-started/">Getting started</a></p>
							</div>
						</div>
						<div class="mm_img_grid">
							<div class="mm_img2">
								<a href="/bulk-wholesale-additional-services/"><img src="/content/Bulk Wholesale Mega Menu - Additional Services.jpg" alt="">
							</div></a>
							<div class="img_lable">
								<p><a href="/custom-manufacturing/">Additional Services</a></p>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</li>
<li class="navPages-item">	
	<a class="navPages-action" href="javascript:void(0)">Information</a>
	<div class="megamenu_block menu_information">
		<div class="container">
			<div class="mm_inner">
				<div class="all_link">
					<a href="/information/">Information</a>
				</div>
				<div class="mm_left">
					<ul class="mm_cat_list">
						<li>
							<a href="/our-company/">Our company</a>
						</li>						
						<li>
							<a href="/shipping-returns/">Shipping and returns</a>
						</li>
						<li>
                            <a href="/affiliate-program/">Rewards Program</a>
                        </li>
						<li>
                            <a href="/privacy-policy/">Privacy Policy</a>
                        </li>
						<li>
							<a href="/trademarks/">Trademarks</a>
						</li>
					{{!--	<li>
							<a href="https://affiliates.midwestseasaltcompany.com/" target="_blank">Become an Affiliate</a>
						</li> --}}
					</ul>					
						<div class="mm_button">
							<a class="button" href="/contact-us/">contact us</a>
						</div>
				</div>
				<div class="mm_right">	
					<div class="mm_img">
						<div class="mm_img_grid">
							<div class="mm_img1">
								<a href="/meet-our-team/"><img src="/content/meet_mm_img1.jpg" alt=""></a>
							</div>
							<div class="img_lable">
								<p><a href="/meet-our-team/">Meet our team</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>
