.banner-top {
    .banner-top__item {
        
        &-left {
            padding-left: 90px;
            padding-right: 60px;
            width: 100%;
            
            @media (min-width: 768px) {
                max-width: 940px;
            }

            .content {
                @media (min-width: 768px) {
                    max-width: 650px;
                }
            }
        }   

        &-right {
            width: 100%;
            .prilist_form {
                width: 100%;
                margin-left: auto;
                margin-right: auto;

                @media (min-width: 768px) {
                    max-width: 616px;
                }
            }
        }
    }
}

/* About Us */
.custom-section.custom-section--about-us {
    @media (min-width: 1600px) {
        padding: 80px 170px 100px;
    }
}
.custom-section-about-us {
    .about-us__item {
        .item {
            @media (min-width: 768px) {
                width: 50%;
            }

            &.item__left {
                padding-right: 30px;
            }

            &.item__right {
                padding-left: 10px;
            }

            .item__heading {
                color: #2BC0BE;
                font-family: Mulish;
                font-size: clamp(28px, 3vw, 48px);
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                margin-top: 0;
                margin-bottom: 30px;

                @media (max-width: 767px) {
                    margin-top: 12px;
                    margin-bottom: 12px;
                }
            }

            .item__desc {
                color: #000;
                font-family: Mulish;
                font-size: clamp(14px, 2vw, 18px);
                font-style: normal;
                font-weight: 500;
                line-height: 30px; /* 166.667% */
            }
        }

        &.about-us__item--bottom {
            .item__left {
                padding-right: 10px;
            }

            .item__right {
                padding-left: 20px;
            }
        }
    }
}

/* Custom FAQs Section */
.custom-faq {
    max-width: 790px;
    width: 100%;

    .custom-faq__heading {
    }

    .custom-faq__desc {
        text-align: center;
        font-family: Mulish;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 21px */
    }

    .custom-faq__block {
        .custom-faqs__title {
            color: #ffffff;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            margin-top: 40px;
            margin-bottom: 18px;
        }

        .custom-faqs__list {
            .custom-faqs__item {
                background-color: #ffffff;
                padding: 18px 24px;

                @media (max-width: 767px) {
                    padding: 12px;
                }

                .item__question {
                    color: #000000;
                    font-family: Mulish;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 120%;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    text-transform: capitalize;
                    margin-bottom: 0;

                    .icon {
                        transform: rotate(-90deg);
                        min-width: 16px;
                        min-height: 16px;
                    }
                }

                .item__answer {
                    color: #3C3C43;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    display: none;
                    margin-top: 18px;
                }

                &.is-open {
                    .item__question {
                        .icon {
                            transform: rotate(0deg);
                        }
                    }

                    .item__answer {
                        display: block;
                    }
                }

                + .custom-faqs__item {
                    margin-top: 14px;
                }
            }
        }
    }
}

/* -------------------------------- About Us Page ----------------------------------- */
.lookbook-slider {
    .slider__list {
        .slider__item {
            position: relative;
            .slider-image {
                .image-pc {
                    padding-top: 47.8%;

                    @media (max-width: 767px) {
                        display: none;
                    }
                }

                .image-mb {
                    padding-top: 114.67%;

                    @media (min-width: 768px) {
                        display: none;
                    }

                    @media (max-width: 400px) {
                        padding-top: 140%;
                    }
                }

                .image-item {
                    position: relative;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        max-width: 100%;
                        cursor: pointer;
                        object-fit: contain;
                        object-position: center center;
                        transition: opacity .5s;

                        @media (max-width: 400px) {
                            object-fit: cover;
                        }
                    }
                }
            }

            .slider-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
                width: 100%;
                max-width: 1126px;
                padding: 25px;

                .slider__heading {
                    margin-bottom: 29px;

                    @media (max-width: 767px) {
                        margin-bottom: 12px;
                        font-size: 24px;
                        line-height: 100%;
                    }
                }

                .slider__desc {
                    letter-spacing: 0;
                    
                    @media (min-width: 1025px) {
                        letter-spacing: -0.4px;
                    }

                    @media (max-width: 767px) {
                        font-size: 12px;
                        line-height: normal;
                    }
                }

                .lookbook-slider-action {
                    margin-top: 35px;

                    @media (max-width: 767px) {
                        margin-top: 12px;
                    }

                    .lookbook-slider-button {
                        background-color: transparent;
                        border: 1px solid #ffffff;
                        min-width: 270px;
                        color: #ffffff;
                        font-weight: 700;
                        text-transform: uppercase;

                        @media (max-width: 400px) {
                            padding-top: 8px;
                            padding-bottom: 8px;
                            font-size: 14px;
                            min-width: 200px;
                        }

                        &:hover {
                            background-color: #000000;
                            color: #ffffff;
                            border-color: #000000;
                        }
                    }
                }
            }
        }


        .slick-dots {
            --spacing-sides: 70px;
            width: max-content;
            height: max-content;
            display: flex;
            gap: 15px;
            position: absolute;
            bottom: 44%;
            left: calc(100% - var(--spacing-sides));
            flex-direction: column;
            bottom: 44%;

            @media (max-width: 767px) {
                --spacing-sides: 20px;
                gap: 10px;
                left: 50%;
                transform: translateX(-50%);
                bottom: 7%;
                flex-direction: row;
            }

        }
    }
}

.section-slick {
    .slick-dots {
        > li {
            width: 12px;
            height: 12px;

            button {
                width: 12px;
                height: 12px;

                &::before {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}

.about-us-breadcrumb {
    margin-top: 67px;
    .Braedcrumbs {
        background-color: transparent;

        .breadcrumbs {
            text-align: center;
        }
    }
}

.about-us-topInfo {
   .about-us-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    
      .topInfo__heading {
        color: #000000;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 16px;
      }

      .topInfo__text {
        color: #3C3C43;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
   }
}

.about-service-block {
    padding-top: 30px;
    padding-bottom: 50px;

    .policies-block__item {
        padding-left: 15px;
        padding-right: 15px;
        .policies-block__icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .policies-block__content {
            margin-top: 25px;
            .policies-block__title {
                color: #000000;
                font-family: Mulish;
                font-size: 20;
                font-style: normal;
                font-weight: 700;
                line-height: 26px;
                margin-bottom: 16px;
                margin-top: 0;
                text-transform: capitalize;
            }

            .policies-block__text {
                color: #3C3C43;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                margin-bottom: 7px;
            }

            .policies-block__button {
                color: #3C3C43;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                text-decoration: underline;
                margin-bottom: 0;
            }
        }
    }
}

.section-image-banner-block {
    padding-top: 15px;
    padding-bottom: 45px;

    /* Video Overlay */
    .video-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999999;
        background-color: rgba(0,0,0,0.65);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .video-popup-wrapper {
            position: relative;
            max-width: 720px;
            width: 100%;

            .halo-popup-close {
                display: block;
                position: absolute;
                top: -15px;
                right: -15px;
                width: 30px;
                height: 30px;
                line-height: 1;
                font-size: 0;
                letter-spacing: 0;
                background: #000000;
                text-align: center;
                padding: 7px;
                border: none;
                z-index: 9;

                svg {
                    fill: #ffffff;
                }
            }
        }

        .video-popup__content {
            .video-wrapper {
                position: relative;
                padding-top: 56%;
                width: 100%;

                iframe {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    .banner-block-content {
        &:hover {
            .slick-arrow {
                opacity: 1 !important;
            }
        }

        .banner__list {
            .banner__item {
                background-color: #f8f8f8;
                display: flex;
                align-items: center;

                &.reverse {
                    @media (min-width: 551px) {
                        flex-direction: row-reverse;
                    }
                }

                @media (max-width: 550px) {
                    flex-direction: column;
                }

                .banner__image {
                    position: relative;
                    cursor: pointer;
                    width: 50%;

                    @media (max-width: 550px) {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .video-button {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 2;
                        padding: 0;
                        
                        svg {
                            fill: #ffffff;
                            width: 96px;
                            height: 96px;
                            border-radius: 50%;
                            border: 4px solid #ffffff;
                        }
                    }                    
                    
                }
               
                .banner__content-wrapper {
                    width: 50%;
                    

                    @media (max-width: 550px) {
                        width: 100%;
                    }

                    .banner__content {
                        padding: 30px 15px; 
                        margin-left: auto;
                        margin-right: auto;

                        @media (min-width: 551px) {
                            max-width: 425px;
                        }

                        .banner__title {
                            color: #000000;
                            font-family: Mulish;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 26px;
                            margin-bottom: 16px;
                            margin-bottom: 35px;
                            margin-top: 0;
                        }
    
                        .banner__text {
                            color: #3C3C43;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%;
                            margin-bottom: 45px;
                            font-family: Mulish;
                        }
                        
                        .banner__button {
                            font-weight: 700;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .slick-arrow {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid #cccccc;
                opacity: 0;

                &:hover{
                    opacity: 1;

                    &:before {
                        background-size: 8px;
                    } 
                }


                @media (max-width: 1024px) {
                    display: none;
                }

                &.slick-next {
                    right: -13%;
                }

                &.slick-prev {
                    left: -13%;
                }

                &:before {
                    width: 35px;
                    height: 35px;
                    background-size: 8px;
                } 
            }

            .slick-dots {
                position: relative;
                margin-bottom: 50px;

                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }

                > li {
                    margin-left: 7px;
                    margin-right: 7px;

                    &:first-child{
                        margin-left: 0;
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}



.section-contact-banner-block {
    padding-bottom: 110px;

    @media (max-width: 767px) {
        padding-bottom: 50px;
    }
    .contact-banner__block {
        background: #f5f5f5;

        @media (max-width: 1024px) {
            flex-direction: column;
        }
        .contact-banner__image {
           width: 50%;

           @media (max-width: 1400px) and (min-width: 1025px) {
                width: 30%; 
            }
           
           @media (max-width: 1024px) {
            width: 100%;
           }

           .image-contain {
                position: relative;
                padding-top: 85.22292993630575%;
                display: block;

               img {
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
                   position: absolute;
                   top: 0;
                   right: 0;
                   bottom: 0;
                   left: 0;
                }
           }
        }

        .contact-banner__content {
            width: 50%;

            @media (max-width: 1400px) and (min-width: 1025px) {
                width: 70%; 
            }
            
            @media (max-width: 1024px) {
                width: 100%;
            }

            .content-row {
                max-width: 725px;
                padding: 30px 15px;
                margin: 0 auto;

                @media (max-width: 1400px) {
                    max-width: 100%;
                }

                @media (max-width: 650px) {
                    flex-direction: column;
                }

                .content-box__divider {
                    height: 240px;
                    width: 1px;
                    min-width: 1px;
                    background: #626262;
                    display: block;
                    transform: translateY(26px);

                    @media (max-width: 650px) {
                       display: none;
                    }
                }

                .content-col {

                    &.col--left {
                        max-width: 270px;

                        margin-right: 105px;

                        @media (max-width: 1600px) {
                            margin-right: 40px; 
                        }

                        @media (max-width: 1400px) {
                            margin-right: 15px; 
                            max-width: 50%;
                        }

                        @media (max-width: 650px) {
                            max-width: 100%;
                        }
                    }

                    &.col--right {
                        transform: translateY(-39px);
                        margin-left: 105px;

                        @media (max-width: 1600px) {
                            margin-left: 40px; 
                        }

                        @media (max-width: 1400px) {
                            margin-left: 15px; 
                            max-width: 50%;
                        }

                        @media (max-width: 650px) {
                            margin-top: 40px;
                            margin-left: 0;
                            max-width: 100%;
                        }
                    }

                    .custom-contact-us-button {
                        margin-left: 0;
                        min-width: 215px;
                        margin-bottom: 0;
                        font-weight: 700;

                        &.button--live-chat {
                            background-color: #ffffff;
                            border: 1px solid #000000;


                            &:hover {
                                background-color: #000000;
                                color: #ffffff;
                            }
                        }

                        +.custom-contact-us-button {
                            margin-top: 10px;
                        }
                    }

                    .banner__title {
                        color: #000000;
                        font-family: Mulish;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 26px;
                        margin-bottom: 33px;
                        margin-top: 0;
                    }
                    
                    .banner__text {
                        color: #3C3C43;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        margin-top: 20px;
                        margin-bottom: 12px;
                        font-family: Mulish;

                        &.banner__text-icon{
                            @media (min-width: 400px) {
                                white-space: nowrap;
                            }

                            .banner__icon {
                                display: inline-block;
                                transform: translateY(5px);
                            }
                        }

                        &.banner__text-icon-phone {
                            margin-bottom: 0;
                            margin-top: 5px;
                        }
                        
                        &.banner__text-icon-email {
                            margin-top: 0;
                            margin-bottom: 12px;
                        }

                        .banner__link {
                            margin-left: 10px;
                            word-wrap: break-word;

                        }
                    }
                }
            }
        }
    }
}
/* Contact Us Page */
.contact-us-top-banner {
    position: relative;
    padding-top: 15.05376344086022%;
    min-height: 280px;

    @media (max-width: 767px) {
        padding-top: 66%;
        min-height: 360px;
    }

    .topBanner__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .topBanner-image-pc {
            @media (max-width: 767px) {
                display: none;
            }

        }

        .topBanner-image-mb {
            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    .topBanner__content {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 540px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        .topBanner__breadcrumb {
            .Braedcrumbs {
                background-color: transparent;
        
                .breadcrumbs {
                    text-align: center;
                    .breadcrumb  {
                        &::before {
                            background-image: url('data:image/svg+xml,<svg fill="%23ffffff" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke="%23ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M8.489 31.975c-0.271 0-0.549-0.107-0.757-0.316-0.417-0.417-0.417-1.098 0-1.515l14.258-14.264-14.050-14.050c-0.417-0.417-0.417-1.098 0-1.515s1.098-0.417 1.515 0l14.807 14.807c0.417 0.417 0.417 1.098 0 1.515l-15.015 15.022c-0.208 0.208-0.486 0.316-0.757 0.316z"></path></g></svg>');
                            background-repeat: no-repeat;
                            background-size: 8px;
                        }

                        > a {
                            color: #ffffff;
                            font-family: Mulish;
                        }
                    }
                }
            }
        }

        .topBanner__heading {
            margin-top: 40px;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            margin-bottom: 20px;
            font-family: Mulish;
        }

        .topBanner__text {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 45px;
            font-family: Mulish;
        }
    }
}

.contact-us-navigation {
    background-color: #fafafa;
    padding: 12px 0;

    @media (max-width: 767px) {
        padding-right: 15px;
    }

    .navigation__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;
        column-gap: 47px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
         display: none;
        }

        .navigation__item {
            scroll-snap-align: center;
            > a {
                white-space: nowrap;
                font-size: 15px;
                font-family: Mulish;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                margin-bottom: 45px;
            }
        }
    }
}

.custom-contact-us-content {
    .page-content {
        width: 100%;
        padding-bottom: 65px;
        float: none;

        @media (max-width: 767px) {
            padding-bottom: 25px;
        }
    }
    .contact-form-title {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        font-family: Mulish;
        text-transform: capitalize;
    }

    .contact-form-text {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        font-family: Mulish;
    }

    .contact-us-title {
        margin-top: 57px;
        margin-bottom: 58px;
    }

    .contact-form__row {
        display: flex;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .contact-form__col {
            &.contact-form--left {
                width: 50%;

                @media (min-width: 1350px) {
                    width: calc(100% - 550px);
                }

                @media (max-width: 767px) {
                    width: 100%;
                }

                .form-field {
                    width: 100%;
                    margin-bottom: 17px;

                    .form-label {
                        font-weight: 700;
                        font-family: Mulish;
                        margin-bottom: 8px;
                        float: left;

                        small {
                            font-size: 0;
                            margin-left: 4px;
                            margin-top: 0;

                            &::after {
                                content: "*";
                                color: red;
                                font-size: 15px;
                            }
                        }
                    }
                }

                > .contact-form-text {
                    margin-bottom: 30px;
                }

                .form-actions {
                    .button {
                        float: left;
                        width: 100%;
                        max-width: 227px;
                        font-weight: 700;
                    }
                }
            }

            &.contact-form--right {
                margin-left: 62px;
                padding: 55px;
                background-color: #fafafa;
                width: 50%;

                @media (max-width: 1024px) {
                    margin-left: 30px;
                    padding: 24px;
                }

                @media (max-width: 767px) {
                    margin-left: 0;
                }

                @media (min-width: 1350px) {
                    width: 470px;
                }

                @media (max-width: 767px) {
                    width: 100%;
                }

                .contact-form-title {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-bottom: 10px;
                }

                > .contact-form-text {
                    margin-bottom: 33px;
                }

                .contact-form__button {
                    background-color: transparent;
                    border: 1px solid #000000;
                    font-weight: 700;
                    width: 100%;
                    max-width: 205px;
                    margin-bottom: 32px;

                    &:hover {
                        background-color: #000000;
                        color: #ffffff;
                    }
                }

                .contact-form__info {
                    .contact-form-text-icon {
                        display: flex;
                        align-items: center;
                        .banner__icon {
                            margin-right: 8px;
                        }

                        .banner__link {
                            transform: translateY(-3px);
                        }
                    }
                }
            }
        }
    }

    .contact-map {
        padding-top: 50px;

        .contact-map__header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 15px;
            padding-right: 15px;

            .contact-map__title {
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 26px;
                font-family: Mulish;
                text-transform: capitalize;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
            }

            .contact-map__text {
                max-width: 400px;
                text-align: center;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                font-family: Mulish;
                margin-top: 26px;
                margin-bottom: 40px;
            }

            .contact-map__button {
                background-color: transparent;
                border: 1px solid #000000;
                font-weight: 700;
                width: 100%;
                max-width: 205px;
                margin-bottom: 57px;

                &:hover {
                    background-color: #000000;
                    color: #ffffff;
                }
            }
        }

        .contact-map__content {
            iframe {
                width: 100% !important;
            }
        }
    }
}

/* Information Page */
.custom-infomatio-page {
    .cms_left {
        width: 25%;
        max-width: 350px;
        padding-left: 18px;
        padding-right: 32px;
        
        .custom-list-title {
            max-height: 60vh;
            overflow: auto;
    
            &::-webkit-scrollbar {
                width: 5px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #000000;
    
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #A594F9;
            }
        }

        @media (max-width: 990px) {
            width: 100%;
            max-width: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            left: -100%;
            bottom: 0;
            position: fixed;
            background-color: #ffffff;
            transition: all 0.3s linear;
           

            .custom-list-title {
                max-height: 100vh;
            }

            &.is-open {
                inset: 0;
                z-index: 999999;
            }

        }

        &.is-sticky {
            top: 0%;

            @media (min-width: 991px) {
                position: fixed;
                top: 18%;
                // z-index: -1;
            }
        }
        
        .info-close-sidebar {
            position: absolute;
            top: 12px;
            right: 12px;
            cursor: pointer;
            width: 24px;
            height: 24px;

            @media (min-width: 991px) {
                display: none;
            }
        }

        .info-open-sidebar {
            position: absolute;
            top: 0;
            right: -36px;
            cursor: pointer;
            width: 36px;
            height: 36px;
            display: inline-block;
            border: 1px solid #A594F9;

            @media (max-width: 520px) {
                top: 10%;
            }

            @media (max-width: 400px) {
                top: 20%;
            }

            svg {
                transform: rotate(-90deg);
            }

            @media (min-width: 991px) {
                display: none;
            }
        }
    }

    .cms_right {
        width: 75%;
        max-width: 1090px;
        padding-left: 32px;
        padding-right: 18px;

        @media (max-width: 990px) {
            width: 100%;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

    }

    .custom-list-title {
        display: flex;
        flex-direction: column;

        > a {
            display: inline-block;
            padding: 10px 12px;
            padding-left: 17px;
            border-left: 1px solid #cccccc;
            font-size: 16px;
            line-height: 24px;
            color: #000000;

            &.is-active {
                border-left: 3px solid #000000;
            }
        }
    }

    /* Content */
    .midwest_seasalt_cms {
        h3 {
            font-style: normal;
            font-weight: 400;
            line-height: 1.3333;
            font-family: Mulish;
            margin-top: 0;
            margin-bottom: 16px;
            font-size: clamp(24px, 2vw, 30px);
        }

        h4 {
            color: #212326;
            font-family: Mulish;
            font-size: 1.125em;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-transform: capitalize;
            margin-bottom: 0.6666666667em;
            line-height: 1.33333125;
        }

        p {
            font-size: clamp(14px, 1.5vw, 16px);

            line-height: 1.5;
            margin-bottom: 16px;
            font-family: Mulish;
        }

        a {
            color: #88dad9;
        }

        table {
            margin-bottom: 16px;
        }

        p:has(img) {
            float: left;
            margin-bottom: 0;
            padding-right: 12px;
            padding-bottom: 12px;
        }
    }
}

/* Custom Navigation Menu */
.navPagse-item--custom {
    &.is_open {
        .navPages-action{
            &::before {
                content: unset !important;
            }
        }
    }
}

.information__block:has(.rewards) {
    .cms_left {
        display: none;
    }

    .cms_right {
        width: 100%;
        max-width: 100%;
    }
}