{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'account.addresses.heading' }}</h2>
    {{> components/account/navigation account_page='addresses'}}

    <div class="account account--fixedLarge">
		<div class="container">
			<div class="account-body">
				{{> components/account/address-list }}
			</div>
		</div>
    </div>
{{/partial}}
{{> layout/base}}
<style>
.body {margin-top:0;}
.body > .container{	max-width:100%; padding:0;} 
</style>
